# dependencies
**/node_modules/

# environment variables
.env

# Drizzle migrations
backend/src/db/migrations/

# logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# build folders
dist/
build/

# coverage reports
coverage/

# IDE files
.vscode/
.idea/